@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.student_name {
  font-family: "Rethink Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;

}