/* Mobile hero section */
.hero_container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 285px;

}

.hero {
    background-image: url("/images/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.hero_content {
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    opacity: 0.5;

}

.hero_content p {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 34px;
}

@media only screen and (min-width: 600px) {

    /* Hero section */
    .hero_container {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        height: 485px;

    }

    .hero {
        background-image: url("/images/hero-image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .hero_content {
        background-color: #050505;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 480px;
        opacity: 0.5;
    }
}

@media only screen and (min-width: 768px) {

    /* Hero section */
    .hero_container {
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
        height: 660px;
    }

    .hero {
        background-image: url("/images/hero-image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 660px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero_content {
        background-color: #050505;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 625px;
        opacity: 0.5;

    }

    .hero_content p {
        color: #FFFFFF;
        font-family: "Poppins", sans-serif;
        font-size: 54px;
        font-weight: 600;
        text-align: center;
        line-height: 64px;
    }
}

@media only screen and (min-width: 992px) {

    /* Hero section */
    .hero {
        background-image: url("/images/hero-image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .hero_content {
        background-color: #050505;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 495px;
        opacity: 0.5;

    } */

    .hero_content p {
        color: #FFFFFF;
        font-family: "Poppins", sans-serif;
        font-size: 44px;
        font-weight: 600;
        text-align: center;
        line-height: 64px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* Hero section */
    .hero_container {
        margin-top: 10px;
    }

    .hero {
        background-image: url("/images/hero-image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero_content {
        background-color: #050505;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 625px;
        opacity: 0.5;

    }

    .hero_content p {
        color: #FFFFFF;
        font-family: "Poppins", sans-serif;
        font-size: 44px;
        font-weight: 600;
        text-align: center;
        line-height: 64px;
        letter-spacing: 1px;
    }
}

