.news_and_events_container {
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news_events_heading {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_events_heading h1 {
    color: #36384E;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.news_events_heading .heading_line {
    width: 80px;
    height: 6px;
    position: absolute;
    background-color: #219653;
    border-radius: 18px;
    margin-top: 35px;
}

.news_events_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.news_events_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: 1rem;
}

.news_events_card>img {
    width: 373px;
    height: 211px;
}

.news_events_card .news_events_link a::after {
    content: "";
    position: absolute;
    inset: 0;
}

.news_events_link {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.news_events_link h3 {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 13.6px;
}

.news_events_link a {
    color: #219653;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.news_events_link a>span {
    font-size: 1rem;
}

.news_events_link a:hover {
    transition: all 0.25s ease-in-out;
    gap: .8rem;
}

.see_more_link {
    margin-top: 50px;
}

.see_more_link a {
    color: #219653;
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
    font-weight: 500;
    line-height: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem;
    border: 1px solid #219653;
}

.see_more_link a>span {
    font-size: 1rem;
}

.see_more_link a:hover {
    background-color: #219653;
    color: #FFFFFF;
    transition: all 0.25s ease-in-out;
    gap: .8rem;
}

@media only screen and (min-width: 600px) {
    /* news and even section */
    .news_events_card .news_image {
        width: 473px;
        height: 311px;
    }
}

@media only screen and (min-width: 768px) {
    /* news and update section */
    .news_events_card .news_image {
        width: 300px;
        height: 160px;
    }
}

@media only screen and (min-width: 992px) {
    /* news and update section */
    .news_events_card_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
    }

    .news_events_card .news_image {
        width: 300px;
        height: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* news and update section */
    .news_events_card .news_image {
        width: 400px;
        height: 300px;
    }
}

